[submodule "garcias-ent"]
	path = garcias-ent
	url = https://github.com/samuel-mc/garcias-ent.git
[submodule "web-proyects"]
	path = web-proyects
	url = https://github.com/samuel-mc/web-proyects.git
[submodule "atend-back"]
	path = atend-back
	url = https://github.com/samuel-mc/atend-back.git
[submodule "life-experts"]
	path = life-experts
	url = https://github.com/samuel-mc/life-experts.git
[submodule "indexyty"]
	path = indexyty
	url = https://github.com/samuel-mc/indexyty.git
[submodule "bje-local"]
	path = bje-local
	url = https://github.com/samuel-mc/bje-local.git
[submodule "olk"]
	path = olk
	url = https://github.com/samuel-mc/olk.git
[submodule "pergolas"]
	path = pergolas
	url = https://github.com/samuel-mc/pergolas.git
[submodule "mym"]
	path = mym
	url = https://github.com/samuel-mc/mym.git
[submodule "nunezyf"]
	path = nunezyf
	url = https://github.com/samuel-mc/nunezyf.git
[submodule "lit-capital"]
	path = lit-capital
	url = https://github.com/samuel-mc/lit-capital.git
[submodule "tanko"]
	path = tanko
	url = https://github.com/samuel-mc/tanko.git
